.carousel-item {
  height: 65vh;
}
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel {
  margin: 5rem;
}

.heading {
  margin-top: 5rem;
}

.heading a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-size: 18px;
}

.top-margin5 {
  margin-top: 5rem;
}

.cards {
  font-size: 17px;
}

.accordion {
  font-size: 17px;
}

.fixed-size {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.col img {
  border-radius: 5px;
}

.works p {
  font-size: 18px;
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .works p {
    width: 100%;
  }
}

.more {
  text-decoration: none;
  color: rgb(168, 87, 87);
  font-size: 17px;
}

.more:hover {
  color: rgb(129, 45, 45);
}

.plot img {
  height: 300px;
}

.plot .col {
  padding: 0;
}

.plot p {
  font-size: 17px;
}

footer {
  font-size: 17px;
}

.art-inspo p {
  font-size: 17px;
}

.st-link a {
  text-decoration: none;
  color: rgb(168, 87, 87);
  font-size: 20px;
}

.st-link a:hover {
  color: rgb(129, 45, 45);
}

.prozess p {
  font-size: 17px;
}

.heading h1:hover {
  color: rgb(129, 45, 45);
}

a {
  text-decoration: none !important;
}

#carouselExample {
  width: 100%;
  margin: 0 auto;
}
